# SPDX-FileCopyrightText: © {{ year }} {{ author_name }}
# SPDX-License-Identifier: {{ license }}

# Default owner for everything in the repo — see
# https://docs.github.com/articles/about-code-owners
* @{{ repo_owner }}
